*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #202124;
    width: 100%;

}

h1{
    font-family: 'Handlee', cursive;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    border: none;
    outline: none;
    color:whitesmoke;
}